.news, .staff, .products {
    display:flex;
    flex-direction: row;
    padding: 80px 50px 100px;
}

.staff, .products {
    flex-wrap: wrap;
}

.news div {
    padding:0 40px;
    border-right: 1px solid #ddd;
}

.news div:last-child{
    border-right: none;
}

.news h3 {
    color: var(--blue);
    font-weight: lighter;
    line-height:1.5em;
    margin-bottom: 30px;
}

.news p {
    color: var(--gray);
    font-size: 0.9em;
    font-weight: lighter;
    line-height:1.5em;
    margin-bottom: 30px;
}

.news a, .products a {
    background-color:var(--blue);
    font-size: 0.9em;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
}